* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: green;
    background-color: blue;
}

h2 {
    color: blue;
    background-color: green;
}

h3 {
    color: gray;
    background-color: black;
}

h4 {
    color: black;
    background-color: gray;
}